

/* header  */
header .navbar-nav{
    display: flex;
    align-items: center;
}
header .navbar-nav .nav-item .nav-link{
    color: black;
    transition: all 0.5s;
}
header .navbar-nav .nav-item .nav-link:hover{
    color: #dc4f72;
}
header .navbar-nav .nav-item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #dc4f72;
    width: 0;
    height: 2px;
    transition: all 0.5s;
}
header .navbar-nav .nav-item.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #dc4f72;
    width: 60%;
    height: 2px;
    transition: all 0.5s;
}
header .navbar-nav .nav-item:hover::after{
    width: 60%;
}
header .navbar-nav .nav-item.off:hover::after{
    width: 0;
}
header .nav-item {
    margin: 0 5px;
}
header .nav-item span{
    font-size: 12px;
}
header .nav-item .seach i{
    color: rgba(0, 0, 0, 0.618);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.13);
    padding: 9px;
    font-size: 11px;
    border: 1px solid rgba(128, 128, 128, 0.124);
    transition: all 0.5s;
}
header .nav-item .seach i:hover{
    color: black;
    border: 1px solid gray;
}
header .nav-item .moon i{
  font-size: 20px;
}
header .nav-item button{
    padding: 15px 25px;
    transition: all 0.5s;
}
header .nav-item button:hover{
    color: white;
    background-color: #dc4f72;
}
/* content  */
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .content__left{
    left: 50%;
}
.content__right{
    width: 50%;
}
.content__right img{
    width: 100%;
}
.content__left h1{
    font-size: 3rem;
    font-weight: bold;
}
.content__left p{
    color: gray;
    font-weight: 400;
}
.content__left .button button{
    padding: 15px 35px;
}

/* why choose  */
.whychoose .title .active{
    color: #dc4f72;
    font-weight: bold;
}
.whychoose .title h2{
    font-size: 3rem;
    font-weight: bold;
}
.whychoose .title p{
    color: gray;
}
.whychoose .card{
    padding: 2rem;
    background-color:rgba(128, 128, 128, 0.076);
    transition: all 0.5s;
}
.whychoose .card:hover{
    transform: translateY(-20px);
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.235);
}
/* about our company  */
.about{
    background-color: rgba(128, 128, 128, 0.076);
    padding: 2rem;
}
.about .about__left .active{
    color: #dc4f72;
    font-weight: 700;
    
}
.about .about__left p{
    color: gray;
    font-size: 0.8rem;
}
.about .about__left h3{
    font-weight: bold;
}
.about .about__left .button button{
    padding: 15px 30px;
    background-color: #dc4f72;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #dc4f72;
}
.about .about__right{
    padding: 1rem;
}
.about .about__right img{
     border-radius: 10px;
     transition: all 0.5s;
}
.about .about__right img:hover{
    transform: translateY(-20px);
}
/* counter  */
.counter{
    background-color: rgba(128, 128, 128, 0.076);
}
.counter .card-body{
    padding: 1rem;
}
.counter .card h4{
    font-size: 0.8rem;
    font-weight: 600;
}
.counter .card .card-text {
    color: #dc4f72;
    font-size: 2.5rem;
    font-weight: bold;
}
.counter .card p{
    color: gray;
}
.counter .card{
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.233);
    border: 1px solid white;
    transition: all 0.5s;
}
.counter .card:hover{
    box-shadow: 0 0 0 0 white;
    border: 1px solid whites;
}