body {
  font-family: "Nunito", sans-serif;
}

/* header  */
header .navbar-nav {
  display: flex;
  align-items: center;
}

header .navbar-nav .nav-item .nav-link {
  color: black;
  transition: all 0.5s;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #dc4f72;
}

header .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #dc4f72;
  width: 0;
  height: 2px;
  transition: all 0.5s;
}

header .navbar-nav .nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #dc4f72;
  width: 60%;
  height: 2px;
  transition: all 0.5s;
}

header .navbar-nav .nav-item:hover::after {
  width: 60%;
}

header .navbar-nav .nav-item.off:hover::after {
  width: 0;
}

header .nav-item {
  margin: 0 5px;
}

header .nav-item span {
  font-size: 12px;
}

header .nav-item .seach i {
  color: rgba(0, 0, 0, 0.618);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.13);
  padding: 9px;
  font-size: 11px;
  border: 1px solid rgba(128, 128, 128, 0.124);
  transition: all 0.5s;
}

header .nav-item .seach i:hover {
  color: black;
  border: 1px solid gray;
}

header .nav-item .moon i {
  font-size: 20px;
}

header .nav-item button {
  padding: 15px 25px;
  transition: all 0.5s;
}

header .nav-item button:hover {
  color: white;
  background-color: #dc4f72;
}

/* content  */

.content .content__left {
  left: 50%;
}

.content__right {
  width: 50%;
}

.content__right img {
  width: 100%;
}

.content__left h1 {
  font-size: 3rem;
  font-weight: bold;
}

.content__left p {
  color: gray;
  font-weight: 400;
}

.content__left .button button {
  padding: 15px 35px;
}

/* namdao BEGIN*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2c3038;
  --text-color: #5a5a5a;
  --light-bg-color: #f7f9fc;
  --bg-color: #fff;
  --border-color: #eee;
  --bg-color-light: #fff;
  --bg-lightgrey: #f7f7f7;
  --border-color-light: #f8f9fa;
  --card-curve: 6px;
  --iframe-filter: grayscale(0%);
  --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem);
}

img {
  max-width: 100%;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

img.img-curve:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}
.btn:hover,
body button:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.9rem 1.5rem;
  font-size: 14px;
}
.btn:hover {
  text-decoration: none;
}
button,
.btn,
select {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* faq */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  clear: both;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h6,
.h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

headsection {
  max-width: 750px;
  margin: 0 auto;
}

.headsection p {
  max-width: 750px;
  margin: 0 auto;
}

.headsection h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.headsection h2 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}

.headsection.white h3 {
  color: #fff;
}

.headsection.white h2 {
  color: #fff;
}

.headsection p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .headsection h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .headsection h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 667px) {
  .headsection h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .headsection h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.faqsection {
  background-color: var(--light-bg-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.faq-image {
  position: sticky;
  top: 80px;
}

.faqsection .itemrightfaq .flipIn,
.faqsection .itemrightfaq h1,
.faqsection .itemrightfaq ul li {
  -webkit-animation: flipdown 0.5s ease both;
  animation: flipdown 0.5s ease both;
}

.faqsection .itemrightfaq .no-select,
.faqsection .itemrightfaq h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faqsection .itemrightfaq h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}

.faqsection .itemrightfaq p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.faqsection .itemrightfaq ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

.faqsection .itemrightfaq ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid var(--border-color);
  margin: 0 0 15px 0;
  border-radius: var(--card-curve);
  background: var(--bg-color);
}

.faqsection .itemrightfaq ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.faqsection .itemrightfaq ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.faqsection .itemrightfaq ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.faqsection .itemrightfaq ul li:nth-of-type(4) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.faqsection .itemrightfaq ul li:nth-of-type(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.faqsection .itemrightfaq ul li:nth-of-type(6) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.faqsection .itemrightfaq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}

.faqsection .itemrightfaq ul li i:before,
.faqsection .itemrightfaq ul li i:after {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 3px;
  height: 9px;
}

.faqsection .itemrightfaq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.faqsection .itemrightfaq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.faqsection .itemrightfaq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}

.faqsection .itemrightfaq ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.faqsection .itemrightfaq ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.faqsection .itemrightfaq ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@media screen and (max-width: 480px) {
  .faqsection .itemrightfaq h2 {
    font-size: 18px;
    line-height: 30px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.faqsection .itemrightfaq ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid var(--border-color);
  margin: 0 0 15px 0;
  border-radius: var(--card-curve);
  background: var(--bg-color);
}

li {
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  display: list-item;
}

.faqsection .itemrightfaq .transition,
.faqsection .itemrightfaq p,
.faqsection .itemrightfaq ul li i:before,
.faqsection .itemrightfaq ul li i:after {
  transition: all 0.25s ease-in-out;
}
.testimonials {
  background: linear-gradient(
      to right,
      var(--bg-color),
      rgba(255, 255, 255, 0.77)
    ),
    url(./images/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* product */
.projectproducts .products-content {
  margin: 20px 0;
}

.projectproducts .products-content h3 {
  color: var(--title-color);
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.projectproducts .products-content p {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}

@media screen and (max-width: 992px) {
  .projectproducts .products-content h3 {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 33px;
  }
}

@media screen and (max-width: 480px) {
  .projectproducts .products-content {
    margin-bottom: 30px;
  }
  .projectproducts .products-content h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: var(--title-color);
  background: var(--bg-color) !important;
  border-bottom: 3px solid var(--border-color-light);
}

.resp-tabs-list li img {
  margin-right: 30px;
}

.resp-tabs-container {
  padding: 0px;
  background-color: var(--bg-color);
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
  border-bottom: 3px var(--primary) solid !important;
  color: var(--primary) !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border-top-color: #5ab1d0;
}

h2.resp-accordion {
  font-size: 20px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5ab1d0 !important;
  border-left: 4px solid #5ab1d0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #fff solid !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9b9797;
}

h2.resp-tab-active {
  background: #dbdbdb;
  border-bottom: 3px var(--primary) solid !important;
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
}

@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
    display: none;
  }
  h2.resp-accordion {
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    display: block;
    background: var(--bg-color) !important;
    color: var(--title-color);
    font-weight: 600;
  }
  h2.resp-accordion:first-child {
    border-top: none;
  }
  .resp-tabs-container {
    border: 1px solid var(--border-color-light);
  }
  .resp-vtabs .resp-tab-content {
    border: 1px solid var(--border-color-light);
  }
  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }
  .resp-accordion-closed {
    display: none !important;
  }
  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
}

@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 0 15px;
  }
  .resp-arrow {
    margin-top: 3px;
  }
}

/*back to top  */
#btnBackToTop {
  display: none;
  position: fixed;
  bottom: 3px;
  right: 3px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: rgb(199, 60, 83);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.5s;
}
#btnBackToTop:hover {
  background-color: rgb(162, 27, 50);
}
/* right sidebar */
span.capst-icon.-back span.fa {
  position: static;
  color: #e6ebff;
}

#capstDemoBar.capst-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px 10px;
  padding-top: 70px;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#capstDemoBar.capst-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

#capstDemoBar.capst-demo-bar span.capst-icon {
  display: block;
}

#capstDemoBar.capst-demo-bar a:hover {
  opacity: 1;
}

#capstDemoBar.capst-demo-bar .capst-icon svg {
  color: #e6ebff;
}

#capstDemoBar.capst-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}

#capstDemoBar.capst-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}

#capstDemoBar.capst-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}

#capstDemoBar.capst-demo-bar .no-margin-bottom {
  margin-bottom: 0;
}

.toggle-rightsidebar span {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

.pull-right-demo-bar {
  float: right;
  position: fixed;
  right: 0px;
  top: 150px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}

#rightsidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 140px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  #capstDemoBar.capst-demo-bar a.desktop-mode {
    display: none;
  }
}

@media (max-width: 767px) {
  #capstDemoBar.capst-demo-bar a.tablet-mode {
    display: none;
  }
}

@media (max-width: 568px) {
  #capstDemoBar.capst-demo-bar a.mobile-mode {
    display: none;
  }

  #capstDemoBar.capst-demo-bar .responsive-icons {
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
  }

  #rightsidebar,
  .pull-right-demo-bar {
    width: 90px;
  }

  #capstDemoBar.capst-demo-bar .no-margin-bottom-mobile {
    margin-bottom: 0;
  }
}

/* carousel */
@media (max-width: 768px) {
  .slider__content {
    /* Điều chỉnh số lượng hiển thị của carousel thành 1 */
    display: block !important;
    width: 100%;
    max-width: 100%;
  }
}

.testimonialsblock .slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: var(--bg-color);
  border-radius: var(--card-curve);
}

.testimonialsblock .img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.testimonialsblock .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.testimonialsblock .message {
  position: relative;
}

.testimonialsblock .message span {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.testimonialsblock .message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}

.testimonialsblock .name h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}

.testimonialsblock .name p {
  font-size: 13px;
  color: var(--text-color);
}

@media (max-width: 992px) {
  .testimonialsblock .message {
    margin-top: 1rem;
    padding-bottom: 0;
    padding: 0rem;
  }
}

@media (max-width: 900px) {
  .testimonialsblock .slider-info {
    padding: 2rem;
  }
}

@media (max-width: 667px) {
  .testimonialsblock .slider-info {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .testimonialsblock .img-circle {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonialsblock .message {
    text-align: center;
  }
  .testimonialsblock .message span {
    left: 0px;
  }
}

@media (max-width: 480px) {
  .testimonialsblock .slider-info {
    grid-gap: 10px;
    padding: 2rem 1rem;
  }
}

.testimonialsblock .owl-two.owl-theme .owl-nav [class*="owl-prev"],
.testimonialsblock .owl-two.owl-theme .owl-nav [class*="owl-next"] {
  display: none;
}
/* footer */
.capst-footer .capst-footer-16-main.py-5 {
  background: var(--light-bg-color);
}

.capst-footer .capst-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 700;
}

.capst-footer .capst-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 500;
}

.capst-footer .ad-text-inf {
  margin-bottom: 20px;
}

.capst-footer span.color-ubd {
  color: var(--text-color);
  opacity: 0.5;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 2px;
}

.capst-footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0;
}

.capst-footer .footer-gd-16 li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}

.capst-footer .end-column {
  background-color: var(--bg-color);
  padding: 2em;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
}

.capst-footer .below-section,
.capst-footer .para-content-footer {
  border-top: 1px solid var(--border-color);
}

.capst-footer .capst-footer-16-main h3 a:hover,
.capst-footer .footer-gd-16 li a:hover,
.capst-footer .capst-footer-16-main p a:hover {
  opacity: 0.8;
  color: var(--primary);
}

.capst-footer .capst-footer-16-main p {
  line-height: 22px;
  color: var(--text-color);
  font-size: 16px;
}

.capst-footer .capst-footer-16-main p a {
  color: var(--title-color);
}

.capst-footer a.footer-small-text {
  color: var(--title-color);
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.capst-footer a.footer-small-text:hover {
  color: var(--primary);
  transition: 0.3s ease-in;
}

.capst-footer .text-sub-small {
  color: #656f7b;
  font-size: 14px;
  margin-top: 4px;
}

.capst-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.capst-footer .subscribe input[type="email"] {
  background: var(--light-bg-color);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: var(--title-color);
  font-weight: 600;
  border-radius: var(--card-curve);
}

.capst-footer .subscribe button {
  text-align: center;
  background: var(--primary);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: var(--card-curve);
}

.capst-footer .subscribe button:hover {
  transition: all 0.5s ease;
}

.capst-footer .subscribe button img {
  vertical-align: middle;
}

#movetop {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: var(--primary);
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
}

#movetop:hover {
  opacity: 1;
  transition: 0.3s ease;
}

#movetop span.fa {
  line-height: 45px;
  color: #fff;
  font-size: 22px;
}

.capst-footer .below-section {
  justify-content: space-between;
}

.capst-footer ul.social li,
.capst-footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.capst-footer ul.social li a {
  color: var(--title-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.capst-footer ul.social li a:hover {
  color: var(--primary);
  transition: 0.3s ease;
}

.capst-footer ul.social li a span {
  font-size: 15px;
  line-height: 36px;
}

@media screen and (max-width: 1080px) {
  .capst-footer .footer-gd-16 li a {
    font-size: 15px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1190px) {
  .capst-footer .subscribe button {
    width: 30%;
  }
}

@media screen and (max-width: 991px) {
  .capst-footer .below-section {
    display: block !important;
  }
  .capst-footer .columns-2 {
    text-align: center;
  }
}

@media screen and (max-width: 801px) {
  .capst-footer .capst-footer-16-main h3 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 640px) {
  .capst-footer .capst-footer-16-main {
    padding: 3em 0;
  }
  .capst-footer .footer-gd-16 li {
    margin: 5px 0;
  }
  .capst-footer .subscribe button {
    padding: 12px 10px;
  }
}

@media screen and (max-width: 420px) {
  .capst-footer .capst-footer-16-main {
    padding: 2em 0;
  }
  .capst-footer .subscribe button {
    width: 20%;
  }
}

.column li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.column li {
  display: block;
  list-style: none;
  margin: 10px 0;
}
.column li a:hover {
  color: var(--primary);
}
a:hover,
a:active {
  outline: 0;
}
a:hover {
  text-decoration: none;
}

a {
  background-color: transparent;
}
ul {
  padding-inline: 0;
}
/* theme */

.theme-switch input {
  display: none;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding-right: 2rem;
}
[data-theme="dark"] {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #eee;
  --text-color: #b7b7b7;
  --border-color: #333;
  --bg-lightgrey: #191c1d;
  --border-color-light: #333;
  --bg-color: #131617;
  --iframe-filter: grayscale(100%);
  --light-bg-color: #191c1d;
}

/* bổ sung ghim header để thấy được nút chuyển thêm */
nav.navbar.navbar-expand-lg {
  position: fixed;
  top: 0;
  height: 90px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* Đảm bảo có z-index cao hơn */
  padding: 10px 0;
  transition: height 0.3s ease; /* Thêm hiệu ứng transition */
}
/* sua lai header qua met moi */
pb-5,
.py-5 {
  padding-bottom: 0.1rem !important;
}

.pt-5,
.py-5 {
  padding-top: 90px !important;
}
.mb-4,
.my-4 {
  margin-top: 0 !important;
}
.mb-4,
.my-4 {
  margin-bottom: 0 !important;
}
.pb-5,
.py-5 {
  padding-top: 0 !important;
}
@media (min-width: 768px) {
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 3rem !important;
  }
}
@media (min-width: 768px) {
  .pt-md-3,
  .py-md-3 {
    padding-top: 3rem !important;
  }
}
/* sua lai nav */
.linkproduct.active {
  background-color: white;
}

ul.nav.nav-pills {
  display: grid;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 0;
}
.tab-pane.container.fade.active {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: white;
  border-bottom: 1px;
  margin-bottom: -1px !important;
  border-bottom: 3px var(--primary) solid !important;
  color: var(--primary) !important;
}
.nav-pills .nav-link {
  border-radius: 0;
}
a.nav-link.linkproduct {
  color: #131617;
  font-size: 1.5rem;
  font-weight: bold;
  border-color: rgb(193, 193, 193);
}
.nav.nav-pills .nav-item:not(.active) .nav-link {
  border-bottom: 3px solid rgb(193, 193, 193); /* Đổi viền thành 1px độ rộng */
}
.custom-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dot {
  width: 10px; /* Kích thước ban đầu của dấu chấm */
  height: 10px; /* Kích thước ban đầu của dấu chấm */
  background-color: #333; /* Màu của dấu chấm */
  border-radius: 50%; /* Làm cho dấu chấm trở thành hình tròn */
  transition: background-color 0.3s ease; /* Hiệu ứng mượt mà khi thay đổi màu */
}

.custom-dot.active {
  background-color: #ff0000; /* Màu của dấu chấm khi được click */
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #dc4f72;
  font-size: 15px;
}
/* Khi kích thước màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .nav-pills {
    flex-direction: column; /* Hiển thị menu tab dọc */
  }

  .nav-item {
    width: 100%; /* Đảm bảo các tab chiếm toàn bộ chiều rộng */
  }

  .nav-link {
    text-align: center; /* Căn giữa nội dung tab */
  }

  .tab-content {
    padding: 0; /* Loại bỏ khoảng cách dưới tab content */
  }
}

/* namdao END */
